@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');

body{
    font-family: "Libre Baskerville", serif;
}

header img {
    height: 100px;
    width: 100px;
    border: 5px solid rgb(188, 123, 59);
    border-radius: 100px;
    margin-right: 10px;
}

header a {
    font-size: 20px;
    background-color: rgb(246, 242, 231);
    color: rgb(90, 44, 18);
    text-decoration: none;
    border: 3px solid rgb(188, 123, 59); 
    border-radius: 50px;
    padding: 5px;
}

header a:hover {
    background-color: rgb(90, 44, 18);
    color: rgb(246, 242, 231);
}

header {
    background-color: rgb(90, 44, 18);
    box-shadow: 0 2px 4px black;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px;
    border-radius: 15px;
}